.field i{
    color: #fff !important;
    opacity: 1 !important;
}

.field ::placeholder {
    color: white !important;
    opacity: 1 !important; /* Firefox */
}

.field :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white !important;
}

.field ::-ms-input-placeholder { /* Microsoft Edge */
   color: white !important;
}