
.bgblue{
	background-color: #0577cb !important;
	padding:2em 0 3.3em !important;
}
.left{
    float: left;
    width: 40%;
}
.left h5{
    color: #535353;
    font-weight: 400;
}
.right{
    float: right;
    width: calc(100% - 40%);
}
.right h5{
    color: #535353;    
}

.filter{
    padding-left: 6%;
    padding-right: 6%;
}
.search{
    background-color: #F4F4F4;
	min-height: 100%;
    width: 100%;
    padding-top: 5.5em;
}