.product-main .thumb-slide{
    margin-top: 20px;
}
.product-main .thumb-slide .slick-slide{
    margin-right: 2%;
    width: calc(94%/4);
    cursor: pointer;
}
.product-main .thumb-slide .slick-slide:last-child{
    margin-right: 0;
}
.form-nego label{
    color: #535353 !important;
}
.form-nego small{
    color: #DBDBDB;
}
.form-nego .w-margin .field{
    margin-bottom: 0;

}

.sixteen-nine {
  position: relative;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat
}